DATABASE_URL=postgresql://postgres:[PASSWORD]@[HOST]:[PORT]/postgres

DIRECT_URL=postgresql://postgres:[PASSWORD]@[HOST]:[PORT]/postgres

NEXT_PUBLIC_SUPABASE_URL=https://[PROJECT_ID].supabase.co

NEXT_PUBLIC_SUPABASE_ANON_KEY=tu_anon_key_publica

SUPABASE_SERVICE_ROLE_KEY=tu_service_role_key_privada
